@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Chilanka&family=Comic+Neue&family=Covered+By+Your+Grace&family=Crafty+Girls&family=Delicious+Handrawn&family=Fuzzy+Bubbles&family=Gaegu&family=Gloria+Hallelujah&family=Gochi+Hand&family=Indie+Flower&family=Mynerve&family=Nanum+Pen+Script&family=Over+the+Rainbow&family=Schoolbell&family=Short+Stack&family=Waiting+for+the+Sunrise&display=swap');

/* . {
   font-family: 'Caveat Brush', cursive;
   font-family: 'Chilanka', cursive;
   font-family: 'Comic Neue', cursive;
   font-family: 'Covered By Your Grace', cursive;
   font-family: 'Crafty Girls', cursive;
   font-family: 'Delicious Handrawn', cursive;
   font-family: 'Fuzzy Bubbles', cursive;
   font-family: 'Gaegu', cursive;
   font-family: 'Gloria Hallelujah', cursive;
   font-family: 'Gochi Hand', cursive;
   font-family: 'Indie Flower', cursive;
   font-family: 'Mynerve', cursive;
   font-family: 'Nanum Pen Script', cursive;
   font-family: 'Over the Rainbow', cursive;
   font-family: 'Schoolbell', cursive;
   font-family: 'Short Stack', cursive;
   font-family: 'Waiting for the Sunrise', cursive;
} */

body {
   /* font-family: 'fuzzy bubbles'; */
   background-image: url('_media/giraffe_background5.png');
   background-position: center;

   /* background-repeat: no-repeat;
   background-size: cover; */
}

&:root {
   font-family: 'fuzzy bubbles', serif !important;
}
